/* CSS for TCXBlock */
/* Main Menu */

.hugeCount{
    position:absolute;
    color:#a1ddff;
    z-index:10;
    text-align:center;
    font-size:150px;
    margin:0 auto;
    left:46%;
    top:40%;
}

.countDownContainer{
    border-color:#e3e3e3;
    border-style:solid;
    width:100%;
    height:60px;
    float:right;
    margin-top:10px;

}
.countDown{
    color:#a1ddff;
    font-size:36px;
    text-shadow: white;
    text-align:center;

}
#multimediaContainer{
    text-align:center;
}
.list{
    margin-top:5px;
    margin-right:30px;
    height:35px;
    width:35px;
    float:right;
}
.title{
    text-align:left;
    margin-left:30px;
    font-size:15px;
    padding-top:5px;
}
.menu{
    border-radius:5px;
    border-style: solid;
    border-width: medium;
    border-color:#e3e3e3;
    margin-bottom:20px;
    background-color:#f1efef;
    text-align:left;
    height:50px;
}
.tournamentList{
    border-radius:5px;
    border-style: solid;
    border-width: medium;
    border-color:#e3e3e3;
    background-color:#f1efef;
    text-align:center;
    padding-bottom:50px;
}
.tournamentEntryContainer{

    width:80%;
    margin:0 auto;
    border-radius:5px;
    border-style: solid;
    border-width: medium;
    border-color:#e3e3e3;
    background-color:#f1efef;
    text-align:center;
    margin-bottom:10px;
    height:90px;
}

/* Load Tournament */
.button{
    margin-left:5px;
}
.configuration{
    border-color:#e3e3e3;
    border-style: solid;
    border-width: medium;
    margin: auto;
    width:1170px;

}
.question{
    padding:10px;
    margin:15px;
    border-radius:10px;
    border-color:#e3e3e3;
    background-color:#f1efef;
}


.tournamentcreator_block .count {
    font-weight: bold;
}

.tournamentcreator_block p {
    cursor: pointer;
}

table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 15px;
}

.studentQuestion{

}

.studentAnswer{
    background-color:#eaf7ff;
    width:80%;
    margin:0 auto;
    border-radius:5px;
    border-style: solid;
    border-width: medium;
    border-color:#e3e3e3;
    background-color:#f1efef;
    text-align:center;
    margin-bottom:10px;
    font-size:20px;
    line-height:40px;
}

.activeResult{
    border-color:#a1ddff;
    background-color:#eaf7ff;
}

.resultsContainer{
    margin-top:20px;
}
